.clock{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url("clock-michael-breuer-03.svg");

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 5%;
    position: absolute;
    z-index: 0;
    /*background: #61dafb;*/
    background: red;
    border-radius: 50%;
}

.hours:before{
    content: "";
    width: 1px;
    height: 49px;
    background: #09697c;
    position: absolute;
    z-index: -3;
    bottom: 0;
    left: 0;
    right: 0;
    top:-49px;
    margin: auto;
    overflow: auto;
}
.second:after{
    content: "";
    width: 1px;
    height: 49px;
    background: #ad3d5e;
    position: absolute;
    /*bottom: 50px;*/
    bottom: 0;
    left: 0;
    right: 0;
    top:-49px;
    margin: auto;
    overflow: auto;
    /*transform: translate(-50%,-100%);*/
    z-index: -2;
    transform-origin: bottom center;
    animation: second 60s linear infinite;

}

.minutes:after{
    content: "";
    width: 1px;
    height: 49px;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top:-49px;
    margin: auto;
    overflow: auto;
    position: absolute;
    transform-origin: left bottom;
    animation: minutes 3600s linear infinite;
}

@keyframes second {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes hours {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
@keyframes minutes {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}





